header a:visited,footer a:visited{
    color: white;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header img{
    max-width: 120px;
}
header>nav:last-child li:last-child a{
    background: #2400ff;
    border-radius: 5px;
    text-align: center;
    margin-right: 15px;
    padding: 7px;
}

nav>ul li{
    padding-inline-start: 0px;
    padding: 15px;
    display: inline-block;
    justify-content: space-between;
}

header{
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

/*footer*/
footer div, footer a,header li a{
    color: white;
}
footer{
    background-color: black;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer>div{
    text-align: center;
}


/*main*/
main{
    width: 100%;
    height: 570px;
    position: relative;
    background-image: url("../img/img_error.png");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
}

main img{
    max-height: 90px;
    animation: vuelta 3s infinite linear;
    bottom: 150px;
    left: 590px;
    position: absolute;
}

main h1{
    font-size: 100px;
    padding-top: 50px;
    text-align: center;
    animation: error 3s infinite alternate linear;
}
@keyframes error{
    from {
        width: 57%;
    }
    to {
        width: 141%;
    }
}

@keyframes errorMovil{
    from {
        width: 70%;
    }
    to {
        width: 120%;
    }
}



@keyframes vuelta{
    from {
        transform: rotate(0deg)  translate(-100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-100px) rotate(-360deg);
    }
}


@media screen and (max-width: 1315px) and (min-width: 1025px){
    /*header*/
    header{
        font-size: 14px;
        height: 53px;
    }
    header>a>img{
        max-width: 137px;
    }
    /*footer*/
    footer{
        font-size: 15px;
    }
}
/*1024-769*/
@media screen and (max-width: 1024px) and (min-width: 769px){
    /*header*/
    header{
        font-size: 10px;
        height: 43px;
    }
    header>a>img{
        max-width: 100px;
    }
    /*footer*/
    footer{
        font-size: 11px;
    }
    /*main*/
    main h1{
        font-size: 70px;
    }
    main>img{
        left: 45%;
    }
}
/*768-320*/
@media screen and (max-width: 768px) and (min-width: 320px){
    /*header*/
    header{
        font-size: 6px;
        height: 73px;
    }
    header>nav{
        text-align: center;
    }

    header>a>img{
        max-width: 35px;
    }
    /*footer*/
    footer{
        font-size: 7px;
    }
    /*main*/
    main h1{
        font-size: 50px;
        animation: errorMovil 1s infinite alternate linear;
    }
    main>img{
        left: 35%;
    }

}