header a:visited,footer a:visited{
    color: white;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header img{
    max-width: 120px;
}


footer div, footer a,header li a{
    color: white;

}
nav>ul li{
    padding-inline-start: 0px;
    padding: 15px;
    display: inline-block;
    justify-content: space-between;
}

nav:last-child ul{
    margin-inline-end: 0px;
}


main{
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("../img/img_fondo.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
}
main > div::before{
    content: '';
    width: 100%;
    height: 600px;
    position: absolute;
    background: #abaaff;
    opacity: 0.4;
}

main>*{
    display: flex;
    justify-content: center;
}


header{
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
footer{
    background-color: black;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main a{
    color: white;
    position: relative;
    align-items: center;
    background: #2400ff;
    border-radius: 5px;
    height: 40px;
    width: 195px;
    margin: 0 auto;
}
main p {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 41px;
}
main h1{
    margin-top: 100px;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}


footer>div{
    text-align: center;
}

header>nav>ul>a{
    font-size: 20px;
}
header>nav>ul>li:nth-child(4){
    margin-right: 163px;
}

.modo_claro{
    left: -599px;
    padding-top: 8px;
    color: white;
    text-align: center;
    background: black;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    bottom: -317px;
}
main section{
    justify-content: inherit;
}
@media screen and (max-width: 1315px) and (min-width: 1025px){
    /*header*/
    header{
        font-size: 14px;
        height: 53px;
    }
    header>nav>ul>a{
        font-size: 18px;
    }
    header>a>img{
        max-width: 137px;
    }
    /*footer*/
    footer{
        font-size: 15px;
    }
}
/*1024-769*/
@media screen and (max-width: 1024px) and (min-width: 769px){
    /*header*/
    header{
        font-size: 10px;
        height: 43px;
    }
    header>a>img{
        max-width: 100px;
    }
    header>nav>ul>a{
        font-size: 14px;
    }
    header>nav>ul>li:nth-child(4){
        margin-right: 100px;
    }
    /*footer*/
    footer{
        font-size: 11px;
    }

}
/*768-320*/
@media screen and (max-width: 768px) and (min-width: 320px){
    /*header*/
    header{
        font-size: 6px;
        height: 73px;
    }

    header>nav>ul>a{
        font-size: 9px;
    }

    header>nav>ul>li:nth-child(4){
        margin-right: 0px;
    }
    header>nav{
        text-align: center;
    }

    header>a>img{
        max-width: 35px;
    }
    /*footer*/
    footer{
        font-size: 7px;
    }
    /*main*/
    main>h1{
        font-size: 20px;
    }
    main>p{
        font-size: 12px;
    }
    main>a{
        font-size: 15px;
        height: 35px;
        width: 140px;
    }
}